[submodule "MTUAuthService"]
	path = MTUAuthService
	url = https://github.com/MTU-Bank/auth-service
[submodule "EmbedIO"]
	path = EmbedIO
	url = https://github.com/MTU-Bank/EmbedIO.git
[submodule "MTUTxService"]
	path = MTUTxService
	url = https://github.com/MTU-Bank/tx-service.git
